/*
 * @category            WordPress_Theme
 * @package             EC1_Extra_Child
 * @author              Tim Russell <githubber@timrussell.com>
 * @copyright
 * @license             GPL-2.0+
 *
 * @wordpress-theme
 * Theme Name:          EC1 Extra Child (Starter Theme)
 * Theme URI:           https://gitlab.com/tdavidrussell/ec1
 * Description:         Extra Child (Starter) Theme. Parent Theme Designed Elegant Themes http://www.elegantthemes.com/.
 * Version:             20210830.1
 * Author:              Tim Russell
 * Author URI:          https://timrussell.com/
 * License:             GPL-2.0+
 * License URI:         https://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:         extra-child
 * Domain Path:         /languages
 *
 * GitLab Theme URI:    https://gitlab.com/tdavidrussell/ec1
 * GitLab Branch:       master
 *
 * Tags:                child theme,
 *
 * Template:            Extra
 *
 * Requires WP:         5.0
 * Requires PHP:        7.0
 * Tested up to:        5.8
 *
 * Support URI:         https://gitlab.com/tdavidrussell/ec1
 * Documentation URI:   https://gitlab.com/tdavidrussell/ec1
 *
 * Released under the GPL license
 * http://www.opensource.org/licenses/gpl-license.php
 *
 * This is an add-on for WordPress
 * http://wordpress.org/
 *
 * **********************************************************************
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * **********************************************************************
*/


/**
 * @link https://www.elegantthemes.com/blog/divi-resources/divi-child-theme
 */
/* =Theme customization starts here
------------------------------------------------------- */

/**
 * @link https://www.elegantthemes.com/blog/divi-resources/divi-child-theme
 */
/* =Theme customization starts here
------------------------------------------------------- */

/** fixed footer bottom **/
#footer-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    /** text-align: center; */
    z-index: 9;
}